In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
pop_mean = 120
n = 100
sam_mean = 130.1
std = 21.21

In [3]:
# The Null Hypothesis (H0) will be: pop_mean = 120
# The Alternative Hypothesis (H1 or HA) will be: sam_mean != 120

#Our sample size is bigger than 30, therefore our sample distribution will follow a normal distribution

In [4]:
z = (sam_mean - pop_mean) / (std / np.sqrt(n))
print(z)

4.761904761904759

In [5]:
zc = stats.norm.ppf(1-(0.05/2))
print(zc)

1.959963984540054

conculsion: we reject the null hypothesis. average of our sample differes from 120

# Optional

In [15]:
import numpy as np
import pandas as pd
from scipy import stats

In [7]:
df = pd.read_table('Data/Data_Machine.txt')

In [8]:
df

   New Machine    Old Machine
0         42.1           42.7
1         41.0           43.6
2         41.3           43.8
3         41.8           43.3
4         42.4           42.5
5         42.8           43.5
6         43.2           43.1
7         42.3           41.7
8         41.8           44.0
9         42.7           44.1

In [9]:
df.columns

Index(['New Machine', '  Old Machine'], dtype='object')

### The Null Hypothesis (H0) will be: new machine =< old machine
### The Alternative Hypothesis (H1 or HA) will be: new machine > old machine

In [21]:
#t= stats.ttest_ind(df['New Machine'], df['  Old Machine'])
t = stats.ttest_ind(df['New Machine'], df['  Old Machine'], equal_var=False, nan_policy='omit', alternative='greater')
print(t)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.998378875266841)

In [22]:
if t.pvalue < 0.05:
    print("Reject null hypothesis, mean of New Machine is larger than mean of Old Machine.")
else:
    print("Fail to reject null hypothesis, mean of New Machine is not larger than mean of Old Machine.")

Fail to reject null hypothesis, mean of New Machine is not larger than mean of Old Machine.